@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@* --- This is the Bootstrap5 Edition of the Details --- *@
@* --- Is is also used by Bootstrap3 and Bootstrap4  --- *@
@{
  // helper with some shared logic
  var logic = GetCode("../shared/Logic.cs");

  // Get the term from Data (the Query of this view)
  var term = AsItem(MyData);

  // If term not found, show 404 and stop processing
  if (term == null) {
    <h1>@App.Resources.String("TermNotFoundTitle")</h1>
    <p>@App.Resources.String("TermNotFoundText")</p>
    <a href="@Link.To()" class="btn btn-primary btn-sm">@App.Resources.String("GoBackText")</a>
    Kit.Page.SetHttpStatus(404);
    return;
  }

  // Appends " – " to abbreviation if exists
  var title = logic.TitleWithAbbreviation(term);

  // Set the page title and description
  Kit.Page.SetTitle(title + " | ");  // will prepend to the existing title
  Kit.Page.AddMeta("description", term.String("Summary"));

  // Toolbar without the Layout button
  var termToolbar = Kit.Toolbar.Default().Layout("-");
}

<div @termToolbar.For(term)>
  @* Show the term title and summary *@
  <h1>@title</h1>
  <p>
    <strong>@term.String("Summary")</strong>
  </p>

  @* Show Details *@
  @term.Html("Details")

  @* Link back, going to the starting letter in the alphabet (add an "-" in case empty) *@
  <a href='@Link.To(parameters: "#" + logic.FirstCharOrDash(term.String("Title")))' class="btn btn-primary btn-sm">
    @App.Resources.String("GoBackText")
  </a>
</div>

@Html.Partial("Assets.cshtml")