@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  var effect = "effect-zoom";         // effect on mouse-over; alternative: "effect-darken"; 
  var bsPill = Kit.Css.Is("bs5")      // counter-pill uses a different Bootstrap class for BS5 / BS4
    ? "rounded-pill"
    : "badge-pill";
}

<div class="app-ga7-main">
  <div class="row">
    @* Loop through all the Albums *@
    @foreach (var album in AsItems(MyData)) {
      // Picture: Prefer the main thumbnail, otherwise the first album image, or fallback to the app icon
      object mainPic = album.IsNotEmpty("AlbumThumbnail")
        ? album.Field("AlbumThumbnail")
        : album.File("Images") as object ?? App.Folder.Url + "/app-icon.png";

      // prepare the picture tag
      var mainPicTag = Kit.Image.Picture(mainPic, settings: "Content", factor: "4/12", imgAltFallback: album.String("Title"));

      // Show one Album Thumbnail with Link etc.
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4" @Kit.Toolbar.Default(album)>
        <a class="app-ga7" href='@Link.To(parameters: "album=" + album.String("Path"))'>
          <figure class="app-ga7-image @effect" @mainPicTag.Toolbar()>
            @mainPicTag
            <figcaption class="overlay d-flex align-items-end">
              <div class="caption with-badge">
                <span class="text-uppercase">@album.String("Title")</span>
                <span class="badge @bsPill">@album.Folder("Images").Files.Count()</span>
              </div>
            </figcaption>
          </figure>
        </a>
      </div>
    }
  </div>
</div>

@Html.Partial("Assets.cshtml")