@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;

@{
  var hotSpots = MyModel.Item("HotSpots");
  var toolbar = Kit.Toolbar.Default().DetectDemo(hotSpots).Delete();
}
@* This creates the hidden layers which will appear when hotspots are clicked *@
@foreach (var hotspot in hotSpots.Children("Hotspots")) {
  var imgIsAbove = hotspot.String("OverlayLayout") == "img/text"; // alternative is img-text
  var layoutClass = imgIsAbove ? "" : "display-flex-row";

  // Get image settings based on the Lightbox-presets, with image height / width based on layout type
  var resizeSettings = Kit.Image.Settings("Lightbox",
    width: App.Settings.Int("OverlayImageMaxWidth") * (imgIsAbove ? 1 : 0.75),
    height: App.Settings.Int("OverlayImageMaxHeight") * (imgIsAbove ? 0.7 : 1 )
  );

  var hasImage = Text.Has(hotspot.Url("Image"));
  var hasDescription = Text.Has(hotspot.String("Description"));

  <div id="hotspot3-content-@hotspot.Id-@UniqueKey" class="hotspot3-fancybox-content" style="display: none" @toolbar.For(hotspot)>
    <div class="@layoutClass">
      @if (hasImage) {
        <div>
          @hotspot.Picture("Image", settings: resizeSettings, imgAltFallback: hotspot.String("Title"))
        </div>
      }

      @if (hasDescription) {
        <div class="hotspot3-fancybox-text">
          @hotspot.Html("Description", container:"")
        </div>
      }

      @* If neither image nor description is set, we need to add a clear div to make sure the layout is correct *@
      @if (!hasImage && !hasDescription) {
        <div class="hotspot3-fancybox-text">
          @App.Resources.Html("PopupNoContent");
        </div>
      }
    </div>
  </div>
}